/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*FUENTES*/

@font-face {
  font-family: Cinzel;
  src: url('assets/fonts/Cinzel.otf');
}
@font-face {
  font-family: Quantify;
  src: url('assets/fonts/Quantify.ttf');
}

@font-face{
  font-family: RedHand;
  src: url('assets/fonts/RedHands.ttf');
}
@font-face{
  font-family: Orbitron;
  src: url('assets/fonts/Orbitron.ttf');
}
